body {
    background-color: rgb(238, 238, 238);
}

img {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25);
}


header h1 {
    /* position: relative; */
    top: 40px;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* padding-left: 100px; */
}

hr {
    position: relative;
    top: 15px;
    left: 0;
    /* padding-left: 100px; */
}

main {
    position: relative;
    top: 20px;
}

article header h1 {
    font-size: 28px;
}

div.first img {
    float: right;
    border-style: solid;
    padding: 5px;
    margin-left: 20px;
    margin-bottom: 20px;
}

div.third img {
    float: left;
    border-style: solid;
    padding: 5px;
    margin-right: 20px;
    margin-bottom: 20px;
}

/* header, hr, main {
    width: 1100px;
} */

body {
    padding-left: 100px;
    padding-right: 100px;
}

main {
    width: 1100px;
    /* padding-left: 100px; */
    margin-bottom: 100px;
}

a {
    color: rgb(0, 102, 0);
    text-decoration: none;
}

blockquote {
    border-left-color: gray;
    font-style: italic;
}

.left {
    display: inline-block;
    width: 300px;
    position: relative;
}

blockquote {
    font-family: Georgia, serif;
    display: inline-block;
    position: absolute;
    width: 300px;
}

blockquote p {
    margin-top: 50px;
    position: absolute;
    right: 0;
}

main article {
    display: inline-block;
    width: 65%;
    margin-right: 5%;
}

main aside {
    display: inline-block;
    width: 28%;
    position: absolute;
}

/* MOBILE Screen */
@media (max-width:480px) {

    header h1 {
        display: block;
        width: 480px;
    }

    body {
        margin-left: 50px;
        margin-right: 50px;
    }
    article {
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 300px;
    }

    section {
        width: 480px;
    }

    div.first img,
    div.third img {
        float: none;
    }

    .left,  blockquote, blockquote p{
        display: block;
        position: relative;
    }
}

/* TABLET Screen */
@media (min-width: 481px) and (max-width: 1024px) {
    body {
        padding-left: 50px;
        padding-right: 50px;
    }
}

/* LAPTOP Screen */
@media (min-width: 1025px) and (max-width: 1280px){
    body {
        padding-left: 100px;
        padding-right: 100px;
        width: 1300px;
    }

    section {
        width: 1180px;
    }
}


@media (min-width:501px) and (max-width:600px) {
    body {
        font-size: 14px;
    }
}

@media (min-width:601px) and (max-width:800px) {
    body {
        font-size: 16px;
    }
}

@media (min-width:801px) and (max-width:1300px) {
    body {
        font-size: 18px;
    }
}

@media (min-width:1301px) and (max-width:1800px) {
    body {
        font-size: 21px;
    }
}

@media (min-width:1801) {
    body {
        font-size: 23px;
    }
}


