body {
    background-color: #e4e978;
    width: 700px;
    margin: 15px;
}

article{
    background-color: #f2f4c0;
    margin-bottom: 15px;
    
}

article {
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #b2ad7d;
}

section article{
    padding: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

section article h3 {
    font-size: 28px;
}

section {
    font-style: italic;
    color: #5c6e91;
}