body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

h1 {
    color: red !important;
    font-size: 2rem;
    text-align: center;
    font-weight: normal;
}

/* @media print and (min-width:200px) {
    h1 {
        color: green;
    }
} */

/* @media (max-width:600px) and (orientation:landscape) {
    h1 {
        color: green;
    }
} */

/* @media (orientation:landscape) {
    h1 {
        background-color: lightcoral;
    }
} */

@media (min-width:600px) {
    h1 {
        font-weight: bold;
    }
}

@media (min-width:800px) {
    h1 {
        color: orange;
        text-align: right;
        font-weight: bold;
    }
}


